body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4673c1, #6a0912);
  background-image: url(/MEDIA/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.container-lembrar{
  display: flex;
  padding-top: 15px;
}

.form_container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.form_login, .form_reg {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #000; /* Fundo preto */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: left;
  margin-bottom: 100px;
}

/*resize for as per viewport*/
@media (max-width:575px){
  form{
    width:75%;
  }
  body{
    height: auto;
  }
}

@media (max-width:997px){
  body{
    height:auto;
  }
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  /*margin-bottom: 15px;*/
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #192841; /* Azul escuro */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0d1824; /* Tonalidade mais escura ao passar o mouse */
}

.redes{
  color: black;
}

/*a {
  color: black;
}*/

select {
  /* select país*/
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}
select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

.footer_navbar {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Links dentro da bottomnav */
.footer_navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Cor dos links */
.footer_navbar a:hover {
  background-color: #ffffff;
  color: black;
}
.footer_navbar a.redes {
  float: right;
}

.radio{
  width: 30px;
  margin-top: 5px;
}

.radio-group{
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.radio-group label{
  width: 100%;
}

input[type="checkbox"] {
  height: 20px;
  width: 10%;
}

.small_print{
  width: 100%;
  display: flex;
  font-size: x-small;
  align-content: start;
  padding-top: 20px;
}